@import url(https://fonts.googleapis.com/css?family=Give+You+Glory|The+Girl+Next+Door|Gloria+Hallelujah|Indie+Flower);

.notes-container {
    padding: 20px;
    width: 100%;
    height: calc(100vh - 68px);
    margin: auto;
    border-radius: 8px;
    overflow: auto;
}

.note-box {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.notes-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.notes-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.notes-button {
    padding: 10px 20px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.notes-button:hover {
    background-color: #2980b9;
}

textarea {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
}

.save-box {
    display: flex;
    justify-content: start;
    align-items: center;
}

.save-button {
    margin-top: 10px;
    width: max-content;
    background-color: #191970;
    border: none;
    padding: 10px 50px 10px 50px;
    color: #fff;
    border-radius: 8px;
}

.notes-list {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
}

.button-box {
    display: flex;
    justify-content: end;
}

.note-content-box {
    width: 100%;
    height: 75px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.note-item {
    background-color: #87CEFA;
    color: #191970;
    font-weight: 700;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    position: relative;
    overflow: hidden;
    font-family: 'Indie Flower', cursive;
    font-family: 'Give You Glory', cursive;
    font-family: 'The Girl Next Door', cursive;
    font-family: 'Gloria Hallelujah', cursive;
}

.delete-button {
    background-color: #e74c3c;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-self: center;
    margin-top: 10px;
}

.delete-button:hover {
    background-color: #c0392b;
}

.view-button {
    background-color: #191970;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px 0px 0px 5px;
    cursor: pointer;
    font-size: 14px;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 10px;
}

.view-button:hover {
    background-color: #B0C4DE;
}

.no-notes {
    font-style: italic;
    color: #888;
    text-align: center;
}

@media (min-width: 1200px) {
    .notes-list {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .notes-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 767px) {
    .notes-list {
        grid-template-columns: 1fr;
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #3498db;
    color: #fff;
    font-weight: 600;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    height: 70vh;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-out;
    overflow: hidden;
}

.modal-body {
    margin-top: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #e74c3c;
    border: none;
    padding: 0px 8px;
    cursor: pointer;
    font-size: 10px;
}

.close-button:hover {
    background-color: #c0392b;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.modal-body p {
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    color: white;
}

.spinner {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}